<header class="site-header">

  <div class="wrap">

    <div>
    <a class="site-title" href="{{ site.baseurl }}/"><img height=120px src="{{ site.baseurl }}/assets/ayab_logo.jpg"><!-- {{ site.title }} --></a>
    </div>
<!-- Fixed navbar -->
    <div class="navbar navbar-fixed" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a class="page-link" href="/features">Features</a></li>
            <li><a class="page-link" href="/supported-devices">Supported Devices</a></li>
            <li><a class="page-link" href="/how-to-get-ayab">How to get AYAB?</a></li>
            <li class="dropdown">
              <a class="page-link" href="/software-and-documentation">Software and Documentation</a>
              <ul class="dropdown-menu">
                <li><a class="page-link" href="/software-and-documentation">Quick Start</a></li>
                <li><a class="page-link" href="/tips-n-tricks">Tips and Tricks</a></li>
                <li><a class="page-link" href="/ayab-interface">EMSL AYAB Interface</a></li>
                <li><a class="page-link" href="/shield-hardware">Shield Hardware</a></li>
                <li><a class="page-link" href="/shield-software">Shield Software</a></li>
                <li><a class="page-link" href="/development">Development Information</a></li>
                <li><a class="page-link" href="/additional-information">Additional Information</a></li>
              </ul>
            </li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/contact">Contact</a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

</header>
